.sideNav{
    position: fixed;
    background: #fafafa;
    top:0;
    bottom:0;
    width: 200px;
    z-index: 5;
    transform: translateX(-100%);
    transition: transform 0.2s linear;

}

.sideNav_right{
    top:0;
    right:0;
    transform: translateX(100%);
}

.sideNav_left{
    top:0;
    left:0;
}

.sideNav_show{
    transform: translateX(0);
}

.sideNav__flatop{
    background-color:purple;
    height:4rem;
}

.sideNav__list{
    list-style: none;
}

.sideNav__link{

cursor: pointer;


padding: 1rem 1.5rem;
font-size:1.6rem;
}

.sideNav__link:hover{
    background:#ccc;
}

.sideNav__link_right{
text-align:right
}
